//number-section
.number {
  padding-top: 30px;
  padding-bottom: 30px;
  @media screen and (min-width: 768px) {
    padding-top: 50px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 87px;
  }
  > div {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 183px;
    margin: auto;
    border: 1px solid rgba(225, 225, 225, 1);
    row-gap: 20px;
    border-radius: 4px;
    @media screen and (min-width: 768px) {
      width: 650px;
    }
    @media screen and (min-width: 1440px) {
      width: 1156px;
    }
    img {
      padding-left: 10px;
      padding-right: 10px;
      @media screen and (min-width: 1440px) {
        padding-left: 56px;
        padding-right: 56px;
      }
    }
    div {
      h3 {
        font-size: 30px;
        color: rgba(102, 101, 101, 1);
        @media screen and (min-width: 1440px) {
          font-size: 73px;
        }
      }
      h3:hover {
        color: black;
      }
      p {
        color: rgba(111, 111, 111, 1);
        @media screen and (min-width: 1440px) {
          font-size: 17px;
        }
      }
    }
  }
}